<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Trivia Dificil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p><center>MODO DIFICIL</center></p>
        <p class = "texto_inferior_derecha">
            <b>Vidas:</b><br><b>Aciertos: </b>    
        </p>
    <p class = "texto_superior_izquierda">
        <b>Usuario: </b><br>ACA PONEMOS LA FECHA PARA QUE SE ACTUALICE
    </p>
    <form action="/Film Trivia Dificil", method = "post">
        <p class = "opciones_frases">
            <button type = "text"><b>{{peli_c[1]}}</b></button><br>
            <button type = "text"><b>{{peli_i[1]}}</b></button><br>
            <button type = "text"><b>{{peli_i[2]}}</b></button>
        </p>
    </form>
    <p class = "frase_pelicula">
        <b>{{frase[1]}}</b>

    </p>
    </p>
    <form action="{{url_for('index')}}">        
        <p class="texto_inferior_centro"><button type="submit"><b>TERMINAR PARTIDA</b></button></p>
    </form>
</body>
</html>