<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Trivia Facil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <p>esta es la dificultad Facil</p>

    <form action="/Film Trivia Facil" method="POST">
        <label for="respuesta">Tu respuesta:</label>
        <input type="text" id="respuesta" name="respuesta">
        <button type="submit">Enviar</button>
    </form>    

    <form action="{{url_for('index')}}">        
        <center><button type="submit">Volver al menu</button></center>
</body>
</html>