<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gráficos</title>
</head>
<body class="pagina-graficos">
    <h1>Gráficos de Resultados</h1>
    <div class="contenedor-graficos">
        <div class="grafico_curvas">
            <h2>Gráfico de Aciertos vs Desaciertos</h2>
            <img src="{{ url_for('static', filename='graficos/grafico_curvas_aciertos_desaciertos.png') }}" alt="Gráfico de Aciertos vs Desaciertos">
            <form action="{{ url_for('descargar_grafico', filename='grafico_curvas_aciertos_desaciertos.png') }}">
                <center><button type="submit">Descargar Gráfico en PDF</button></center>
            </form>
        </div>
        <div class="grafico-torta">
            <h2>Gráfico de Torta</h2>
            <img src="{{ url_for('static', filename='graficos/grafico_torta_general.png') }}" alt="Gráfico de Torta">
            <form action="{{ url_for('descargar_grafico', filename='grafico_torta_general.png') }}">
                <center><button type="submit">Descargar Gráfico en PDF</button></center>
            </form>
        </div>
    </div>
    <div class="boton-inicio">
        <form action="{{ url_for('index') }}">
            <button type="submit">Volver al Inicio</button>
        </form>
    </div>
</body>
</html>