<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film Trivia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>FILM TRIVIA</h1>
  </header>
  
  <!-- Contenedor principal dividido en dos columnas -->
  <div class="main-container">
    <!-- Columna Izquierda: Texto explicativo grande -->
    <div class="left-side">
      <p>
        ¡Prepárate para poner a prueba tus conocimientos cinematográficos! En este juego, te mostraremos una película al azar y tu misión será adivinar su título correcto. Para ayudarte, te daremos tres opciones posibles. ¡Piensa rápido y elige la respuesta correcta! Cada acierto te dará puntos y te acercará a la victoria. Una vez terminadas las rondas serás llevado al inicio y podrás ver tus resultados en la pestaña "RESULTADOS". ¿Estás listo para convertirte en un experto en películas? ¡Que comience el juego!
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Autores: Nicolas Ramirez y Agustín Grioni
      </p>
    </div>
    
    <!-- Columna Derecha: Formulario y botones -->
    <div class="right-side">
      <form action="{{ url_for('index') }}" method="POST">
        <fieldset class="fieldset_inicio">
          <legend>Datos del jugador</legend>
          <label for="usuario">Nombre de usuario:</label>
          <input type="text" id="usuario" name="input_usuario" required>
          
          <label for="intentos">Cantidad de intentos:</label>
          <input type="number" id="intentos" name="input_intentos" min="1" max="18" required>
        </fieldset>
        <button type="submit" id="boton_inicio" class="boton_inicio" name="boton_inicio">Jugar</button>
      </form>
      
      <form action="{{ url_for('historial') }}">
        <button type="submit" id="boton_resultados" class="boton_resultados" name="boton_resultados">Resultados</button>
      </form>
    </div>
  </div>
  
</body>
</html>