<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center><header><h1><b>FILM TRIVIA</b></h1></header></center>
    <center><p>El juego consiste en adivinar de que frase es la pelicula, donde cada frase es elegida aleatoriamente de una base de datos y donde puedes elegir la dificultad y dependiendo de cada una las vidas y las opciones variaran</p></center>
    <ul style="width: 200px; margin: 0 auto;">
        <form>
        <fieldset>
            <legend>¿cuantos intentos haras?</legend>
            <input type="text">  
        </form>
        </fieldset>
        <form action="{{url_for('dificil')}}">        
            <li><center><button type="submit">Jugar<span></span>
                <span></span>
                <span></span>
                <span></span>
            </button></center></li>
        </form>
    </ul>  
</body>
</html>
