<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Trivia Dificil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h1><center>Ronda: {{num_ronda}}</center></h1>
<h2><center>Aciertos: {{aciertos}}</center></h2>
<h3><center> {%if num_ronda == 1%}Seleccione una opción  
             {%else%}
                {%if opcion_anterior == 1%} ¡¡La opción elegida fue correcta!! ¡¡Muy Bien!! 
                {%else%} La respuesta anterior fue incorrecta, la opción correcta era "{{peli_correcta}}" 
                {%endif%}  
             {%endif%}
    </center></h3>

<body>
        
    <p class = "texto_superior_izquierda">
        <b>Fecha: {{fecha}} </b><br>
    </p>
    <form action="/Film Trivia Juego", method = "post">
      
        <p class = "opciones_frases">
            
            <input type="hidden" id="aciertos_0" name="num_aciertos" value="{{aciertos}}">
            <input type="hidden" id="peli_correcta" name="peli_correcta" value="{{ ronda[0][0][1] }}">
            <input type="hidden" name="ronda_actual" value="{{num_ronda}}">

            <button type = "sumbit", name="respuesta" value="{{ronda[1][0]}}"><b>{{ronda[1][0]}}</b></button><br>
            <button type = "submit", name="respuesta" value="{{ronda[1][1]}}"><b>{{ronda[1][1]}}</b></button><br>
            <button type = "sumbit", name="respuesta" value="{{ronda[1][2]}}"><b>{{ronda[1][2]}}</b></button>
            
        </p>

    </form>
    
    <div id="div_pelicula" class="div_pelicula">
    <p class = "frase_pelicula2">
        <h4>Frase:</h4>
        <fieldset id="fieldset_frase" class="fieldset_frase">
            <b>{{ronda[0][0][0]}}</b>
        </fieldset>
    </p>
    </div>
    
</body>
</html>