<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Trivia Dificil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p><center>MODO DIFICIL</center></p>
        <p class = "texto_inferior_derecha">
            <b>Aciertos: {{aciertos}} </b>    
        </p>
    <p class = "texto_superior_izquierda">
        <b>Usuario: </b><br>ACA PONEMOS LA FECHA PARA QUE SE ACTUALICE
    </p>
    <form action="/Film Trivia Juego", method = "post">
      {%for i in juego%}
      
        <p class = "opciones_frases">
            <button type = "text", name="respuesta" value="{{i[1][0]}}"><b>{{i[1][0]}}</b></button><br>
            <button type = "text", name="respuesta" value="{{i[1][1]}}"><b>{{i[1][1]}}</b></button><br>
            <button type = "text", name="respuesta" value="{{i[1][2]}}"><b>{{i[1][2]}}</b></button>
            <input type="hidden" id="aciertos_0" name="num_aciertos" value="{{aciertos}}">
            <input type="hidden" id="peli_correcta" name="peli_correcta" value="{{ i[0][0][1] }}">
        </p>

    </form>
    
    <div id="frase_pelicula" class="frase_pelicula">
    <p class = "frase_pelicula2">
        <fieldset id="frase_pelicula3" class="frase_pelicula3">
            <b>{{i[0][0][0]}}</b>
        </fieldset>
    </p>
    </div>
    {%endfor%}
    <form action="{{url_for('index')}}">        
        <p class="texto_inferior_centro"><button type="submit"><b>TERMINAR PARTIDA</b></button></p>
    </form>
</body>
</html>