<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Listado de Películas</title>
</head>
<body class="pagina-listado-peliculas">
    <h1>Listado de Películas</h1>
    <div class="contenedor-peliculas">
        {% if peliculas %}
            <ul>
                {% for pelicula in peliculas %}
                    <li class="pelicula">{{ pelicula }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron películas.</p>
        {% endif %}
    </div>
    <div class="boton-inicio">
        <form action="{{ url_for('index') }}">
            <button type="submit">Volver al Inicio</button>
        </form>
    </div>
</body>
</html>