[run]
source = modules

[report]
omit = 
    .tests/*
    templates/*
    .venv/*
    .vscode/*
    .gitignore/*
    .data/*
    .deps/*
    .docs/*
    .statics/*
    poblar_base.py/*
    server.py/*

