[run]
source = modules

[report]
omit = 
    modules\clasificador_de_reclamos\modules\classifier.py
    modules\clasificador_de_reclamos\modules\preprocesamiento.py
    modules\classifier.py  
    modules\config.py
    modules\text_vectorizer.py
    .tests/*
    templates/*
    .venv/*
    .vscode/*
    .gitignore/*
    .data/*
    .deps/*
    .docs/*
    .statics/*
    poblar_base.py/*
    server.py/*

