<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RECLAMO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Crear Reclamo</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-container">
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">
            <center>{{message}}</center>
            <button type="button" class="btn-close" onclick="this.parentElement.style.display='none';" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <main>
    <div class="formulario-contenedor">
        <form action="{{ url_for('crear_reclamos') }}" method="POST" enctype="multipart/form-data">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required oninput="ajustarAltura(this)" style="resize: none;"></textarea>
            <br><br>
            <label for="imagen" class="label-file">Adjuntar imagen (opcional)</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" style="display: none;" />
            <br>
            <img id="preview" src="#" alt="Vista previa" style="display:none; max-width:200px; margin-top:10px;" />
            <br>
            <button type="submit">Crear Reclamo</button>
        </form>
    </div>
    <div style="text-align:center;">
        <a href="{{ url_for('inicio') }}" class="enlace-boton">volver</a>
    </div>
    <footer class="pie-de-pagina">
    <div class="contenedor-footer">
        <p>© 2025 - Sistema de Reclamos FIUNER</p> <p>Contacto: <a href="mailto:agugrio17@gmail.com">agugrio17@gmail.com</a>/<a href="mailto:NicolasRamirez723@gmail.com">NicolasRamirez723@gmail.com</a> GitHub: <a href="https://github.com/tuusuario" target="_blank">https://github.com/AgustinG178</a> / <a href="https://github.com/NicolasRamirez723", target="_blank">https://github.com/NicolasRamirez723</a></p>
    </div>
</footer>
<script>
document.getElementById("imagen").addEventListener("change", function(event) {
    const [file] = event.target.files;
    const preview = document.getElementById("preview");
    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = "block";
    } else {
        preview.style.display = "none";
    }
});

function ajustarAltura(elemento) {
    elemento.style.height = "auto"; // Restablece la altura para recalcular
    elemento.style.height = (elemento.scrollHeight) + "px"; // Ajusta la altura al contenido
}
</script>
</main>
</body>
</html>
