<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Sistema de Reclamos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registro de Usuario</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                <center>{{message}}</center>
                <button type="button" class="btn-close" onclick="this.parentElement.style.display='none';" aria-label="Cerrar"></button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    <main>
    <form action="{{ url_for('registrarse') }}" method="POST" style="max-width:400px;margin:auto;">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="nombre_de_usuario">Nombre de usuario:</label>
            <input type="text" id="nombre_de_usuario" name="nombre_de_usuario" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmar_password"> Repetir Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Registrarse</button>
    </form>
    <p style="text-align:center;margin-top:20px;">
        ¿Ya tienes una cuenta? <a href="{{ url_for('iniciar_sesion')}}">Iniciar sesión</a>
    </p>
</main>
</body>
</html>