<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Reclamos</title>
    <link rel="stylesheet" href="C:\Users\agugr\OneDrive\Desktop\Programacion_Avanzada\REPO_ProgramacionAvanzada1C2025\pa_2025c1_practica\TrabajoPractico_3\proyecto_1\static\style.css"/>
</head>
<body>
    <h1>Reporte de Reclamos</h1>
    <p>Total: 88</p>
    <p>Promedio de adherentes: 10.33</p>

    <h2 class="">Reclamos por estado</h2>
    <ul>
        
            <li>pendiente: 41</li>
        
            <li>resuelto: 47</li>
        
    </ul>

    <h2>Reclamos por clasificación</h2>
    <ul>
        
            <li>maestranza: 12</li>
        
            <li>secretaría técnica: 26</li>
        
            <li>soporte informático: 50</li>
        
    </ul>

<h2>Reclamos recientes</h2>
<p>
<h2>Reclamos recientes</h2>
<ul>

    <li>• ID 4 - El baño al lado del departamento de electrónica está fuera de servicio (resuelto)</li>

    <li>• ID 44 - Los horarios publicados en la cartelera están desactualizados (resuelto)</li>

    <li>• ID 47 - Falta iluminación en el pasillo del módulo 2 (resuelto)</li>

    <li>• ID 79 - No hay papel higiénico en los baños del segundo piso (resuelto)</li>

    <li>• ID 83 - Se necesita personal de limpieza extra durante los exámenes (resuelto)</li>

    <li>• ID 85 - No hay jabón en los baños del módulo 3 (resuelto)</li>

</ul>
        
    </ul>
</body>
</html>